@page
@model SupportManager.Web.Pages.User.ApiKeys.TestModel
@{
    Layout = "/Features/Shared/_Layout.cshtml";
    ViewData["Title"] = "Test API Key callback";
}

<h2>Test API Key callback</h2>

<p>
    A sample message has been sent!
</p>
