@model SupportManager.Web.ViewModels.AddForwardRegistrationCommand

@{
    ViewBag.Title = "Add forward registration";
}

<h2>Add forward registration</h2>

@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.Number, (IEnumerable<SelectListItem>)ViewBag.PhoneNumbers)
    <input type="submit" value="Add"/>
}
