@page
@model SupportManager.Web.Areas.Teams.Pages.Admin.Members.ListModel
@{
    ViewData["Title"] = "Manage users";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Login</th>
            <th>Primary phonenumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Data.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.DisplayName</td>
                <td>@user.Login</td>
                <td>@user.PrimaryPhoneNumberValue</td>
            </tr>
        }
    </tbody>
</table>