@page
@model SupportManager.Web.Pages.Status.IndexModel
@{
    ViewBag.Title = "Status";
}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <h5 class="card-header">
                Teams
            </h5>
            <div class="card-body">
                <div class="card-text">
                    <div class="alert alert-warning" style="margin-bottom: 1px">
                        No team data available.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
